<div class="container">
<% if flash[:notice] %>
      <div class="flash" >
        <%= flash[:notice] %>
      </div>
    <% end %>
		<div class="row">
			<%= render 'books/sidebar', book: @book, user: @user %>
		<div class="col-xs-9">
			<h1>Books</h1>
				<table class="table" width="750">
					<tr border-bottom="1">
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th></th>
					</tr>
					<tr>
					<% @user.books.each do |book| %>
					<td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg',fallback: "no_image_copy.jpg" %></td>
					<td>
						<%= link_to book_path(book) do %>
						<%= book.title %></td>
						<% end %>
					<td><%= book.body %></td>
					<td></td>
					<td>コメント数：<%=book.book_comments.count%></td>
					</tr>
					<% end %>
				</table>
		</div>
	  </div>
	  <% if @user == current_user %>
  <div class="row">
  	<h1>Your Map</h1>
  	<div id='map'></div>
  	<style>
#map {
  height: 600px;
  width: 600px;
}
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPFFOwtkmL_EWmYi9pTQJw35PPlqfXa8o&callback=initMap" async defer></script>
  	<script>
  		function initMap(){
  let map = new google.maps.Map(document.getElementById('map'),{
    center: {lat: -34.397, lng: 150.644},
    zoom: 8,
  });
}
  	</script>
  </div>
  <% end %>
  </div>
</div>