<table class="table" width="400">
  <tr>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
  <th></th>
  <th></th>
  </tr>
  <% books.each do |book| %>
  <tr>
   <td width="70">
    <%= link_to user_path(book.user_id) do %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg',fallback: "no_image_copy.jpg" %>
    <% end %>
   </td>
   <td width="70">
      <%= link_to book_path(book) do %>
       <%= book.title %>
      <% end %>
   </td>
   <td width="70">
     <%= book.body %>
   </td>
   <td id="favorite-<%= book.id %>">
    <%= render 'books/favorite', book: book %>
   </td>
   <td>コメント数：<%=book.book_comments.count%></td>
  </tr>
  <% end %>
</table>