		<div class="col-xs-3">
			<div class="userinfo">
				<h2>User info</h2>
				<div>
					<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image_copy.jpg" %>
				</div>
				<table width="250">
					<tr>
						<td><strong>name</strong></td>
						<td><strong><%= user.name %></strong></td>
					</tr>
					<tr>
						<td><strong>introduction</strong></td>
						<td><strong><%= user.introduction %></strong></td>
					</tr>
					<tr>
						<td>following</td>
						<td>
							<%= link_to following_user_path(user) do %>
								<%= user.followings.count %>
							<% end %>
						</td>
					</tr>
					<tr>
						<td>followers</td>
						<td>
							<%= link_to followers_user_path(user) do %>
								<%= user.followers.count %>
							<% end %>
						</td>
					</tr>
				</table>
				<% if user.id == current_user.id %>
				<div>
					<%= link_to(edit_user_path(user)) do %><button type="button" class="btn btn-edit btn-block active"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
					<% end %>
				</div>
				<% else %>
					<% unless current_user == user %>
             <% if current_user.following?(user) %>
             	<%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete}) do |f| %>
             		<%= hidden_field_tag :follow_id, user.id %>
             		<%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
             	<% end %>
             <% else %>
             	<%= form_for(current_user.relationships.build) do |f| %>
             		<%= hidden_field_tag :follow_id, user.id %>
             		<%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
     					<% end %>
             <% end %>
						<% end %>
				<% end %>
			</div>
			<div class="newbook">
				<h2>New book</h2>
				<%= form_for(book) do |f| %>
					<div>
						<h5>Title</h5>
						<%= f.text_field :title, class:"form-control" %>
					</div>
					<div>
						<h5>Opinion</h5>
						<%= f.text_area :body,class:"form-control" %>
					</div>
					<div>
						<%= f.submit "Create Book", class:"form-control btn btn-create btn-base-1 mt-20",rows:"3" %>
					</div>
					<% end %>
			</div>
		</div>